extends layout

block content
    h1= title
    if (toShow == null)
        h2 No instance to update 
    else
        - let Badmintonid = toShow._id
        - let Badmintonname = toShow.Badminton_Name
        - let Badmintonage = toShow.Badminton_age
        

            div.row(class='BadmintonAttr mb-2')
            div.mr-1 ID is
            div #{Badmintonid}
            - let actionid = "/resourse/Badminton/" + Badmintonid
            form(id='BadmintonForm', action= actionid, method="PUT")
                div.form-group
                    label.BadmintonAttr(for='Player_Name') Badminton playername
                    input#Badmintonplayername(type='text' name='Player_Name', value= Player_Name )
                div.form-group
                    label.BadmintonAttr(for='Player_Age') Badminton playerage
                    input#Badmintonplayerage(type='text' name='Player_Age', value= Player_Age )
                div.form-group
                    label.BadmintonAttr(for='No_Of_Matches_Played') Badminton noofmatchesplayed
                    input#Badmintonnoofmatchesplayed(type='number' name='No_Of_Matches_Played', value= No_Of_Matches_Played)
                input(type="submit")

    script.
            document.forms['BadmintonForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                alert("Update succeded")
                // TODO handle body
                }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
                });
            });