body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.BadmintonAttr {
  background-color: aquamarine;
  width: 200px; 
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  font-style: italic;
 }
 h1{
  background-color:lightgreen;
  color: navy;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: medium;
}

